/* .logo{
    width: 150px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.registration-links a{
    margin: 5px;
    text-decoration: none; /* for removing underline in links 
    text-transform: uppercase;
    font-weight: bold;

} */

.header {
    background-color: #f00;
    padding: 12px;
    margin: 12px;
    display: flex;
    justify-content: space-between;

}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li {
    list-style-type: none;
    margin: 12px;
}